
{% block content %}

<form method='post' action="submit">
    {% csrf_token %}
    {{form.as_p}}
<div>



    <div>
        <h5>{{problem.id}}--{{problem.questionName}} <br> {{problem.difficulty}}</h5>
        <span>{{problem.questionStatement}}</span>
        <h6>{{problem.tags}}</h6>
        <br>
        <div>
            <label for="language">language</label>

<select  name="langChoice">
    {%for languages in language%}
  <option  name ="{{languages}}" value="{{languages}}">{{languages}}</option>
  {% endfor %}
</select>
<br>
            <textarea name="solution"  cols="150" rows="30"></textarea>
            <br>
            <button>submit</button>
        </div>
    </div>
    
</div>
</form>

{% endblock content %}



