
{% block content %}

<form method='post' action="submit">
    {% csrf_token %}
    {{form.as_p}}




    <div class="flex-container" style="display: flex;">

        <div>
            <h5>{{problem.id}}--{{problem.questionName}} <br> {{problem.difficulty}}</h5>
            <section> <p> {{problem.questionStatement}}</p></section>
           
            <h6>{{problem.tags}}</h6>
            <br>
        </div>
        
        <div>
            <label for="language">language</label>

<select  name="langChoice">
    {%for languages in language%}
  <option  name ="{{languages}}" value="{{languages}}">{{languages}}</option>
  {% endfor %}
</select>
<br>
            <textarea name="solution"  cols="150" rows="30"></textarea>
            <br>
            <button>submit</button>
        </div>
    </div>
    

</form>

{% endblock content %}



